<div id="user-background">
    <div id="user-form" class="user-register-form">
        <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>
        <br>
        <h2 class="label-registration">Regístrate</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="example-form col">

            <mat-form-field class="example-full-width">
                <mat-label class="label-registration">Nombre</mat-label>
                <input class="login-input" name="firstName" matInput placeholder="Nombre" value="" formControlName="name">
                <mat-error>El nombre es requerido</mat-error>
            </mat-form-field>

            <br>
            <mat-form-field class="example-full-width">
                <mat-label class="label-registration">Apellido</mat-label>
                <input class="login-input" name="lastName" matInput placeholder="Apellido" value="" formControlName="lastName">
                <mat-error>El apellido es requerido</mat-error>
            </mat-form-field>

            <br>
            <mat-form-field class="example-full-width">
                <mat-label class="label-registration">Correo</mat-label>
                <input class="login-input" autocomplete="off" name="userEmail" type="email" matInput placeholder="Email" value="" formControlName="userEmail">
                <mat-error *ngIf="registerForm.get('userEmail').hasError('required')">El correo es requerido</mat-error>
                <mat-error *ngIf="registerForm.get('userEmail').hasError('email')">Ingresa un correo valido</mat-error>
            </mat-form-field>

            <br>
            <mat-form-field class="example-full-width">
                <mat-label class="label-registration">Contraseña</mat-label>
                <input id="pass" name="userPassword" matInput placeholder="Contraseña" type="password" value="" formControlName="userPassword">
                <mat-error>La contraseña es requerida</mat-error>
            </mat-form-field>
            <br>
            <button id="userBtn" type="submit" mat-button>Registrarse</button>
        </form>
        <br>
        <div class="background-box">
            <span class="red-label">¿Ya tienes una cuenta?</span>
            <br>
            <a class="links" [routerLink]="['/login']">Inicia Sesión</a>
        </div>

    </div>
</div>