<div class="globalContentForm">

    <mat-card>
        <mat-card-title class="table-title">Clientes</mat-card-title>

        <mat-card-subtitle class="table-subtitle">Empresa: <span class="table-subtitle-span">{{companyName}}</span></mat-card-subtitle>
        <div class="buttonsHeadersContainer">
            <button class="btnCreate" (click)="createCustomer()" mat-button>Agregar</button>
        </div>

        <div class="table-responsive">
            <mat-form-field class="dropdown-export-files">
                <mat-label>Exportar datos</mat-label>
                <mat-select>
                    <mat-option [value]="">
                        <img class="img-export" src="assets/img/excel-file.png" alt=""> &nbsp; Excel
                    </mat-option>
                    <mat-option [value]="">
                        <img class="img-export" src="assets/img/pdf-file.jpg" alt=""> &nbsp; PDF
                    </mat-option>
                </mat-select>
                <mat-error>La subcategoría es requerida</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Filtrar Datos</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Empieza una busqueda">
            </mat-form-field>
            <table mat-table [dataSource]="customersDataSource" class="mat-elevation-z8" matSort>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th class="tableCells" mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td class="tableCells" mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="identification">
                    <th class="tableCells" mat-header-cell *matHeaderCellDef mat-sort-header> Identificación </th>
                    <td class="tableCells" mat-cell *matCellDef="let element"> {{element.identification}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="email">
                    <th class="tableCells" mat-header-cell *matHeaderCellDef> Correo </th>
                    <td class="tableCells" mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="telephone">
                    <th class="tableCells" mat-header-cell *matHeaderCellDef> Teléfono </th>
                    <td class="tableCells" mat-cell *matCellDef="let element"> {{element.telephone}} </td>
                </ng-container>

                <ng-container matColumnDef="icons" stickyEnd>
                    <th class="tableCells" mat-header-cell *matHeaderCellDef></th>
                    <td class="tableCells" mat-cell *matCellDef="let element">
                        <div class="cell-icons">
                            <a matTooltip="Eliminar">
                                <mat-icon (click)="deleteCustomer(element.idCustomer)">delete</mat-icon>
                            </a>
                            <a matTooltip="Editar">
                                <mat-icon (click)="updateCustomer(element)">edit</mat-icon>
                            </a>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
            </table>
            <div *ngIf="spinner" class="container spinner-container">
                <div class="spinner-border custom-spinner"></div>
                <p>Cargando...</p>
                <br>
            </div>
            <div class="container" *ngIf="data.length == 0 && !spinner">
                <br>
                <br>
                <p class="row justify-content-center text-danger">No existen registros</p>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        </div>


    </mat-card>

</div>