/* Responsive Styles */

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {
    #sidenavTitle {
        display: none;
    }
    #logOutLink {
        display: none;
    }
    #logOUtMatIcon {
        display: inline !important;
    }
}

@media(max-width: 360px) {
    #user-form {
        width: 100% !important;
        margin: 0 15px 0 15px !important;
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* LOGIN*/

#user-background {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    background-image: url('https://afsglobalservice.com/images/imagen-3.jpg');
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

#user-form {
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background-color: rgb(0, 57, 78, 0.8);
    margin: 0px auto;
    width: 350px;
    margin-top: 53px;
}

.red-label {
    color: #f44336;
    text-shadow: 1px 1px 1px rgb(4, 0, 7);
}

.background-box {
    background-color: rgb(58, 59, 62, 0.5);
    border-radius: 50px;
    padding: 5px;
}

.links {
    text-shadow: 1px 1px 10px rgb(4, 0, 7);
}

.user-register-form {
    margin-top: 0px !important;
}

#user-form form {
    padding: 0;
    margin: 0;
}

#user-form form mat-form-field {
    text-align: center;
    padding: 0;
    margin: 0;
    background: transparent !important;
    width: 100% !important;
}

#user-form i {
    font-size: 90px !important;
    color: #fff;
    margin-bottom: 5px;
}

#userBtn {
    background-color: rgb(0, 57, 78);
    color: white;
    margin-top: 15px;
    box-shadow: 0px 1px 0px #000;
}


/* Sidenav*/

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.sideNav-background {
    background-color: rgb(0, 57, 78, 0.9);
    color: white;
}

.activeSubTab {
    background-color: rgb(0, 57, 78, 0.3) !important;
    color: white !important;
}

.navbar-links a {
    border-radius: 5px;
}

.test {
    font-weight: bold !important;
}

#menu-button {
    outline: none !important;
}

#Logout-icon {
    width: 100%;
    text-align: right;
    vertical-align: middle;
}

#logOutLink {
    font-size: 15px;
    cursor: pointer;
    margin-left: 12px;
    border: solid 1px blue;
    border-radius: 15px;
    padding: 4px;
    padding-right: 7px;
    background-color: gray;
    color: white;
}

#logOutLink:hover {
    background-color: #007bff;
}

#logOUtMatIcon {
    display: none;
    padding-left: 22px !important;
}

#Logout-icon a mat-icon {
    cursor: pointer;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
}

#Logout-icon a mat-icon:hover {
    cursor: pointer;
    background-color: gray;
    border-radius: 50%;
    text-align: center;
    background-color: #007bff;
}

#Logout-icon mat-label {
    font-size: 15px;
}

.companyDropdown {
    font-size: 15px;
    padding-top: 8px;
    padding-right: 15px;
    font-size: 15px;
    width: 10px;
    padding-left: 7px;
}


/* Movements section */

.movements-mat-tab a {
    text-decoration: none !important;
    border-radius: 5px;
}

.movements-mat-tab a:hover {
    border-radius: 5px;
}


/* CONFIGURATION SECTION*/

#openingSeatForm {
    padding: 4px;
}

.opening-seat-inputs {
    width: 100% !important;
    margin-top: 14px !important;
}

.fixed-save-button {
    display: scroll !important;
    position: fixed !important;
    bottom: 30px !important;
    right: 20px !important;
}

.fixed-cancel-button {
    display: scroll !important;
    position: fixed !important;
    bottom: 30px !important;
    right: 120px !important;
}

#bebitsCredits-div {
    display: scroll !important;
    position: fixed !important;
    bottom: 80px !important;
    right: 50px !important;
    font-size: 14px;
}


/* GLOBAL COMPONENTS*/

table {
    width: 100%;
}

.btnCreate {
    background-color: #206C79;
    color: white;
    border-bottom: solid 1.5px gray !important;
    outline: none !important;
    margin-top: 5px !important;
}

.buttonsHeadersContainer {
    text-align: right;
}

.buttonsForms {
    text-align: right;
}

.btnCancel {
    background-color: #5E0B23;
    color: white;
}

.table-title {
    color: #196012;
    font-weight: bold;
}

.table-subtitle {
    font-weight: bold;
    font-size: 18px;
}

.table-subtitle-span {
    font-weight: normal;
}

.spinner-container {
    text-align: center !important;
    padding-top: 40px;
}

.custom-spinner {
    text-align: center !important;
    color: #366ACF !important;
}

.confirmation-messaje {
    text-align: center !important;
}

.buttons-conf-message {
    float: right !important;
}

.dialog-title-container {
    text-align: center !important;
}

.dialog-title {
    font-size: 20px;
}

.mat-card-contact {
    margin: 1px !important;
    padding: 0 !important;
}

#alert-message-container div img {
    width: 130px;
}

#alert-message-container div p {
    font-size: 16px;
    font-weight: bold;
}

#alert-message-container div div {
    text-align: center;
}

#alert-message-container div div p {
    text-align: center;
}

#alert-message-container div div button {
    background-color: #206C79;
    color: white;
    margin-top: 5px;
    margin-right: 3px;
    margin-left: 3px;
}

.mat-card-form-container {
    margin: 1px !important;
    padding: 0 !important;
}

.form-inputs {
    width: 100% !important;
}

.dropdown-export-files {
    width: 130px !important;
    margin-right: 30px;
}

.img-export {
    width: 30px;
}

.btn-print img {
    width: 30px;
}


/* GLOBAL VALIDATIONS*/

.validation-error {
    color: red !important;
}


/* Checboxes color*/

.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #28a745!important;
}


/* radio buttons*/

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: rgb(0, 168, 176);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
    color: rgb(0, 168, 176);
    background-color: rgb(0, 168, 176);
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color: rgb(0, 168, 176)
}


/* GLOBAL MAT-DIALOGS FORMS*/

#spinner-loading-container {
    text-align: center;
}

#spinner-loading-container mat-icon {
    color: white;
}

#spinner-loading-container span {
    font-size: 28px;
    color: white;
    text-shadow: 0px 5px 4px #060302;
}

.create-form-container {
    width: 100% !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none !important;
}

.globalContentForm {
    padding: 3px;
    width: 100%;
    padding-top: 20px;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.tableCells {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 15px !important;
}

.cell-icons {
    width: 72px;
}

.view-details-icon {
    color: #007bff !important;
    cursor: pointer;
    display: inline !important;
}

.table-responsive a mat-icon {
    color: #007bff;
    cursor: pointer;
    float: right;
}

.table-responsive a mat-icon:hover {
    color: rgb(0, 123, 255, 0.3);
}


/* Snackbar Message */

.confirmation-message {
    padding-right: 3px;
    padding-left: 3px;
}


/* HOME SECTION*/

#home-intro-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#mat-card-home {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#home-intro-container p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

#home-intro-container h3 {
    font-weight: bold;
    text-align: center;
    color: black;
}

#home-intro-container embed {
    width: 100%;
    height: 600px;
    margin-bottom: 10px;
}


/* SALES SECTION*/

#change-debit-account-btn {
    display: inline !important;
    padding-left: 5px;
}

#change-debit-account-btn a {
    cursor: pointer !important;
    font-size: 15px;
    color: cornflowerblue;
}

#change-debit-account-btn a:hover {
    text-decoration: underline;
    color: rgb(100, 149, 237, 0.7);
}


/* INCOME STATEMENT SECTION*/

.cell-title {
    font-weight: bold !important;
}

.td-first {
    width: 125px;
    text-align: center;
}

.td-second {
    width: 410px;
    padding-right: 7px;
}

.cell-border {
    border-bottom: solid rgb(77, 124, 214, 0.6) 1px;
}

.statements-table {
    padding-left: 3px !important;
    padding-right: 3px !important;
    text-align: center;
}

.total-amount {
    font-weight: bold !important;
    text-align: center !important;
    padding-right: 5px !important;
    font-size: 16px !important;
}

#income-statement-table {
    width: 700px;
    text-align: left;
    margin: 0 auto !important;
}

#income-statement-table td.mat-cell {
    width: 108px !important;
    padding-left: 5px !important;
}


/* MOBILE*/

@media (max-width: 675px) {
    #change-debit-account-btn {
        display: inline-block !important;
    }
    .table-container-mobile {
        padding-right: 0 !important;
        padding-left: 3px !important;
    }
    #income-statement-table {
        width: 100% !important;
    }
}