<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="shouldRun">
    <mat-toolbar class="example-toolbar sideNav-background">
        <button id="menu-button" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 id="sidenavTitle" class="example-app-name">Sistema Contable</h1>

        <div id="Logout-icon">
            <mat-label>{{companyName}}</mat-label>
            <mat-form-field *ngIf="userHasCompanies" class="companyDropdown">
                <mat-select [(ngModel)]="companySelected" (click)="updateCompanyDropdown()" (ngModelChange)="onCompanySelected($event)">
                    <mat-option selected="idCompany" *ngFor="let comp of company" [value]="comp">
                        {{comp.companyName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <a id="logOutLink" (click)="openConfirmationMessage()"> Cerrar Sesión</a>
            <a id="logOUtMatIcon">
                <mat-icon (click)="openConfirmationMessage()">clear</mat-icon>
            </a>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav class="sidebar-background" #snav [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list class="navbar-links" (click)="closeSideNav()">
                <a mat-list-item [routerLinkActive]="['activeSubTab']" [routerLink]="'inicio'">
                    <mat-icon>home</mat-icon> Inicio
                </a>
                <a (click)="validate('configuration')" mat-list-item [routerLinkActive]="['activeSubTab']" [routerLink]="'configuracion/asiento-apertura'">
                    <mat-icon>settings</mat-icon> Configuración
                </a>
                <a (click)="validate('maintenance')" mat-list-item [routerLinkActive]="['activeSubTab']" [routerLink]="'mantenimiento'">
                    <mat-icon>build</mat-icon> Mantenimiento
                </a>
                <a (click)="validate('movements')" mat-list-item [routerLinkActive]="['activeSubTab']" [routerLink]="'movimientos'">
                    <mat-icon>create</mat-icon> Movimientos
                </a>
                <a (click)="validate('reports')" mat-list-item [routerLinkActive]="['activeSubTab']" [routerLink]="'reportes'">
                    <mat-icon>assignment</mat-icon> Reportes
                </a>

            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
