<mat-card class="create-form-container">
    <mat-dialog-content>
        <mat-progress-bar *ngIf="progressBar" mode="indeterminate"></mat-progress-bar>

        <div class="dialog-title-container">
            <mat-card-title class="dialog-title">{{title}}</mat-card-title>
        </div>


        <mat-card-content>
            <mat-card class="mat-card-form-container">
                <form id="createCompanyForm" [formGroup]="createCompanyForm" (ngSubmit)="onSubmit()" novalidate class="example-form col">
                    <mat-form-field class="example-full-width form-inputs">
                        <mat-label>Nombre</mat-label>
                        <input name="name" [(ngModel)]="data.name" maxlength="100" #companyName matInput formControlName="name">
                        <mat-hint align="end">{{companyName.value.length}} / 100</mat-hint>
                        <mat-error *ngIf="createCompanyForm.get('name').hasError('required')">El nombre es requerido</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width form-inputs">
                        <mat-label>Identificación</mat-label>
                        <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" name="identification" [maxlength]="25" [(ngModel)]="data.identification" #compIdentification matInput formControlName="identification">
                        <mat-hint align="end">{{compIdentification.value.length}} / 25</mat-hint>
                        <mat-error>Máximo 25 caracteres</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width form-inputs">
                        <mat-label>Correo</mat-label>
                        <input name="email" [(ngModel)]="data.email" maxlength="50" #compEmail matInput formControlName="email">
                        <mat-hint align="end">{{compEmail.value.length}} / 50</mat-hint>
                        <mat-error *ngIf="createCompanyForm.get('email').hasError('required')">El correo es requerido</mat-error>
                        <mat-error *ngIf="createCompanyForm.get('email').hasError('email')">Ingresa un correo valido</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width form-inputs">
                        <mat-label>Teléfono</mat-label>
                        <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" name="companyPhone" [(ngModel)]="data.phone" #compPhone maxlength="20" matInput formControlName="companyPhone">
                        <mat-hint align="end">{{compPhone.value.length}} / 20</mat-hint>
                    </mat-form-field>
                </form>
            </mat-card>
        </mat-card-content>
    </mat-dialog-content>
    <mat-card-actions class="buttonsForms">
        <button (click)="closeDialog()" class="btnCancel" mat-button>Cancelar</button>
        <button class="btnCreate" form="createCompanyForm" mat-button>Guardar</button>
    </mat-card-actions>
</mat-card>