<div class="globalContentForm">
    <mat-card class="text-center">
        <div *ngIf="idCompany == 'not-defined'">
            <mat-card-subtitle>
                <div id="home-intro-container">
                    <p>
                        Hola {{userName}} bienvenido (a) al sistema contable, para iniciar por favor crea una nueva empresa.
                    </p>

                    <div>
                        <button class="btnCreate" (click)="createCompany()" mat-button>Crear Empresa</button>
                    </div>
                </div>
            </mat-card-subtitle>
        </div>
        <div>
            <mat-card-subtitle>
                <div id="home-intro-container">
                    <p *ngIf="idCompany == 'not-defined'">
                        Si tienes alguna duda con el sistema puedes guiarte con el manual de usuario que te dejo a continuación, o bien comunícate al número: 8531-8674 con Oscar Alfaro, o al correo oscar.alfaguz47@gmail.com.
                    </p>
                    <p *ngIf="idCompany != 'not-defined'">
                        Hola {{userName}} si tienes alguna duda con el sistema puedes guiarte con el manual de usuario que te dejo a continuación, o bien comunícate al número: 8531-8674 con Oscar Alfaro, o al correo oscar.alfaguz47@gmail.com.
                    </p>

                </div>
            </mat-card-subtitle>
        </div>
    </mat-card>

    <mat-card class="text-center">
        <h3>MANUAL DE USUARIO</h3>
        <br>
        <embed src="assets/files/manual-usuario.pdf" type="application/pdf">
    </mat-card>
</div>