<div id="user-background">
    <div id="user-form">

        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <br>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            Credenciales incorrectas
        </div>
        <br>
        <mat-dialog-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="">
                    <mat-label class="label-login">Correo</mat-label>
                    <input class="login-input" name="email" type="email" maxlength="80" matInput value="" formControlName="email">
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">El correo es requerido</mat-error>
                    <mat-error *ngIf="loginForm.get('email').hasError('email')">Ingresa un correo valido</mat-error>
                </mat-form-field>
                <br>
                <br>
                <mat-form-field class="">
                    <mat-label class="label-login">Contraseña</mat-label>
                    <input class="login-input" maxlength="50" name="password" type="password" matInput value="" formControlName="password">
                    <mat-error>La contraseña es requerida</mat-error>
                </mat-form-field>

                <br>

                <button id="userBtn" type="submit" mat-button>Iniciar Sesión</button>
                <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
                    <p style="font-size: 20px; color: white">Cargando...</p>
                </ngx-spinner>
                <br>
                <br>
                <div class="background-box">
                    <span class="red-label">¿No tienes una cuenta?</span>
                    <br>
                    <a class="links" [routerLink]="['/registro']">Regístrate</a>

                </div>

            </form>
        </mat-dialog-content>
    </div>
</div>